button{
    border: none;
    justify-content: center;
    margin: 10px;
    background: none;
    border: none;
}
.button_navbar{
    display: flex;
    margin: 20px;
    margin-left: 5px;
    gap: 10px;
    
}