.image_github {
  width: 300px;
  height: 300px;
  margin-top: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.allFirstPart {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 40px;
  gap: 15px;
}
.firstPart_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.firstPart_name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.firstPart_login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.firstPart_follow {
  display: flex;
  gap: 10px;
  margin: 10px;
}
